body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.left-column {
    background-color: #2c3e50;
    color: white;
    padding: 40px;
}

.right-column {
    padding: 0 40px 40px 40px;
}

.photo {
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: #34495e;
}

.photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.photo:hover img {
    opacity: 1;
}

h1, h2 {
    margin-top: 0;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    color: #3498db;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
    margin-top: 30px;
}

.left-column h2 {
    color: #ecf0f1;
    border-bottom-color: #ecf0f1;
}

.contact-info, .skills {
    margin-bottom: 30px;
}

.profile {
    text-align: justify;
}

.skill {
    background-color: #34495e;
    color: white;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    display: inline-block;
    border-radius: 3px;
}

.experience-item, .education-item {
    margin-bottom: 20px;
}

.date {
    font-style: italic;
    color: #7f8c8d;
}

a {
    color: inherit;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.left-column a:hover {
    color: #3498db;
}

.right-column a:hover {
    color: #2c3e50;
}

.fas, .fab, .fa-brands {
    margin-right: 8px;
    width: 16px;
    text-align: center;
    font-size: 0.9em;
    opacity: 0.5;
}

.left-column .fas, .left-column .fab, .left-column .fa-brands {
    opacity: 0.5;
}

h2 .fas, h2 .fab, h2 .fa-brands {
    font-size: 0.8em;
    margin-right: 10px;
}

.skill .fas, .skill .fab, .skill .fa-brands {
    margin-right: 4px;
    width: auto;
    font-size: 0.8em;
    opacity: 0.5;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 5px;
    display: flex;
    align-items: flex-start;
}

li .fas {
    margin-top: 4px;
}

/* Reszponzív design */
@media screen and (min-width: 768px) {
    .container {
        display: flex;
    }

    .left-column {
        width: 35%;
    }

    .right-column {
        width: 65%;
    }
}

@media screen and (max-width: 767px) {
    .container {
        flex-direction: column;
    }

    .left-column, .right-column {
        width: 100%;
        padding: 20px;
    }

    h1 {
        font-size: 2em;
    }

    .photo {
        width: 120px;
        height: 120px;
    }

    .skill {
        font-size: 0.9em;
    }
}

@media print {
    .container {
        column-count: 2;
        column-gap: 20px;
      }    
}